body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif
}

nav ul {
    list-style: none;
    background-color: #4a4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li{
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}
nav a {
    text-decoration: none;
    color:#ffffff;
    display: block;
}

nav a:hover {
    background-color: #ffffff;
    color: 4a4a4f;
}
.card{
    float: left;
    width: 20%;
    margin-left: 10%;
}

.card a{
text-align: center;
}

img {
    width: 100%;
}

h2{
    text-align: center;
}

.color1 {
    width: 100%;
    height: 100px;
    background-color:red;

}

.color2 {
    width: 100%;
    height: 100px;
    background-color:blue;

}

.color3 {
    width: 100%;
    height: 100px;
    background-color: green;

}

.color4 {
    width: 100%;
    height: 100px;
    background-color: yellow;

}

.color5 {
    width: 100%;
    height: 100px;
    background-color: orangered;

}

.color6 {
    width: 100%;
    height: 100px;
    background-color: grey;

}
.container{
    margin-top: 10px;
}